<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<servlet-class>cn.com.zdez.servlet.VerifyCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginCheckServlet</servlet-name>
		<servlet-class>cn.com.zdez.servlet.LoginCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>school_SendedMsg</servlet-name>
		<servlet-class>cn.com.zdez.servlet.School_SendedMsg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>school_AdminPSWModify</servlet-name>
		<servlet-class>cn.com.zdez.servlet.School_AdminPSWModify</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>school_NewMsgHref</servlet-name>
		<servlet-class>cn.com.zdez.servlet.School_NewMsgHref</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>School_getMajorListBySelectedDepartments</servlet-name>
		<servlet-class>cn.com.zdez.servlet.School_getMajorListBySelectedDepartments</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>School_NewMsg</servlet-name>
		<servlet-class>cn.com.zdez.servlet.School_NewMsg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ViewSchoolMsg</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ViewSchoolMsg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_StudentManage</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_StudentManage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_SchoolAdminManage</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_SchoolAdminManage</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AuthTest</servlet-name>
		<servlet-class>cn.com.zdez.servlet.AuthTest</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AndroidClient_StudentLogiCheck</servlet-name>
		<servlet-class>cn.com.zdez.servlet.AndroidClient_StudentLogiCheck</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Test</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AndroidClient_GetUpdateSchoolMsg</servlet-name>
		<servlet-class>cn.com.zdez.servlet.AndroidClient_GetUpdateSchoolMsg</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ReLoginStudent</servlet-name>
		<servlet-class>com.notnoop.mpns.servlet.ReLoginStudent</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>StuUserLoginServlet</servlet-name>
		<servlet-class>com.notnoop.mpns.servlet.StuUserLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GetUserEntityJsonByUserName</servlet-name>
		<servlet-class>com.notnoop.mpns.servlet.GetUserEntityJsonByUserName</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>School_MsgResend</servlet-name>
		<servlet-class>cn.com.zdez.servlet.School_MsgResend</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>School_SendedMsgQuery</servlet-name>
		<servlet-class>cn.com.zdez.servlet.School_SendedMsgQuery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>School_ViewMsgDetail</servlet-name>
		<servlet-class>cn.com.zdez.servlet.School_ViewMsgDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ViewSchoolMsgDetail</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ViewSchoolMsgDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ViewSchoolMsgQuery</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ViewSchoolMsgQuery</servlet-class>
	</servlet>


	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AndroidClient_UpdateSchoolMsgReceived</servlet-name>
		<servlet-class>cn.com.zdez.servlet.AndroidClient_UpdateSchoolMsgReceived</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_StatisticsServlet</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_StatisticsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_StudentManageQuery</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_StudentManageQuery</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>EnsureReceiveMessage</servlet-name>
		<servlet-class>com.notnoop.mpns.servlet.EnsureReceiveMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_DeleteStudent</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_DeleteStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_DeleteSchoolAdmin</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_DeleteSchoolAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_SchoolAdminManageQuery</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_SchoolAdminManageQuery</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>Client_getOneMessageContext</servlet-name>
		<servlet-class>com.notnoop.mpns.servlet.Client_getOneMessageContext</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ModifySchoolAdminInfoHref</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ModifySchoolAdminInfoHref</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ModifyStuInfo</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ModifyStuInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ModifyStuInfoHref</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ModifyStuInfoHref</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_getDepartmentBySchool</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_getDepartmentBySchool</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_getMajorByDepartment</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_getMajorByDepartment</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>Student_UpdateStuas</servlet-name>
		<servlet-class>com.notnoop.mpns.servlet.Student_UpdateStuas</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>EditPsw</servlet-name>
		<servlet-class>com.notnoop.mpns.servlet.EditPsw</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_CacheStudentSchool</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_CacheStudentSchool</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_NewNewsServlet</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_NewNewsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AndroidClient_GetUpdateNews</servlet-name>
		<servlet-class>cn.com.zdez.servlet.AndroidClient_GetUpdateNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_NewZdezMsgHref</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_NewZdezMsgHref</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_NewZdezMsg</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_NewZdezMsg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_getSchoolSysBySchool</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_getSchoolSysBySchool</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_getMajorListBySelectedDepartments</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_getMajorListBySelectedDepartments</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AndroidClient_UpdateNewsReceived</servlet-name>
		<servlet-class>cn.com.zdez.servlet.AndroidClient_UpdateNewsReceived</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_NewNewsHref</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_NewNewsHref</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ModifySchoolAdminInfo</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ModifySchoolAdminInfo</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AndroidClient_GetUpdateZdezMsg</servlet-name>
		<servlet-class>cn.com.zdez.servlet.AndroidClient_GetUpdateZdezMsg</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AndroidClient_UpdateZdezMsgReceived</servlet-name>
		<servlet-class>cn.com.zdez.servlet.AndroidClient_UpdateZdezMsgReceived</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ViewNews</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ViewNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ViewZdezMsg</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ViewZdezMsg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ViewNewsQuery</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ViewNewsQuery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ViewNewsDetail</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ViewNewsDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_NewsResend</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_NewsResend</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AndroidClient_CheckAPKUpdate</servlet-name>
		<servlet-class>cn.com.zdez.servlet.AndroidClient_CheckAPKUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ViewZdezMsgQuery</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ViewZdezMsgQuery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ViewZdezMsgDetail</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ViewZdezMsgDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_ZdezMsgResend</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_ZdezMsgResend</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_NewStudentHref</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_NewStudentHref</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_NewSchoolAdminHref</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_NewSchoolAdminHref</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_NewStudent</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_NewStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_CheckIfStuUsernameExists</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_CheckIfStuUsernameExists</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_NewSchoolAdmin</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_NewSchoolAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_NewAdmin</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_NewAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Admin_AutoRun</servlet-name>
		<servlet-class>cn.com.zdez.servlet.Admin_AutoRun</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AndroidClient_ModifyPsw</servlet-name>
		<servlet-class>cn.com.zdez.servlet.AndroidClient_ModifyPsw</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AndroidClient_CrashsReport</servlet-name>
		<servlet-class>cn.com.zdez.servlet.AndroidClient_CrashsReport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DBSyncServlet</servlet-name>
		<servlet-class>cn.com.zdez.servlet.DBSyncServlet</servlet-class>
		<init-param>
			<!-- 定时器开关 -->
			<param-name>startTask</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<!-- 缓冲时间 单位：秒 -->
			<param-name>intervalTime</param-name>
			<param-value>1800</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  <servlet>
    <servlet-name>Admin_StatisticsDetails</servlet-name>
    <servlet-class>cn.com.zdez.servlet.Admin_StatisticsDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ZdezMsgSync</servlet-name>
    <servlet-class>cn.com.zdez.manualDBSync.ZdezMsgSync</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SchoolMsgSync</servlet-name>
    <servlet-class>cn.com.zdez.manualDBSync.SchoolMsgSync</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Admin_CacheSchoolAdminInfo</servlet-name>
    <servlet-class>cn.com.zdez.servlet.Admin_CacheSchoolAdminInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Admin_CacheStudentInfo</servlet-name>
    <servlet-class>cn.com.zdez.servlet.Admin_CacheStudentInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Admin_ReGenerateHtml</servlet-name>
    <servlet-class>cn.com.zdez.servlet.Admin_ReGenerateHtml</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IosClient_StudentLoginCheck</servlet-name>
    <servlet-class>cn.com.zdez.servlet.IosClient_StudentLoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ios_Client_NoNotificationAnyMore</servlet-name>
    <servlet-class>cn.com.zdez.servlet.Ios_Client_NoNotificationAnyMore</servlet-class>
  </servlet>




































	<servlet-mapping>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<url-pattern>/VerifyCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCheckServlet</servlet-name>
		<url-pattern>/LoginCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>school_SendedMsg</servlet-name>
		<url-pattern>/School_SendedMsg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>school_AdminPSWModify</servlet-name>
		<url-pattern>/School_AdminPSWModify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>school_NewMsgHref</servlet-name>
		<url-pattern>/School_NewMsgHref</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>School_getMajorListBySelectedDepartments</servlet-name>
		<url-pattern>/School_getMajorListBySelectedDepartments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>School_NewMsg</servlet-name>
		<url-pattern>/School_NewMsg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ViewSchoolMsg</servlet-name>
		<url-pattern>/Admin_ViewSchoolMsg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_StudentManage</servlet-name>
		<url-pattern>/Admin_StudentManage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_SchoolAdminManage</servlet-name>
		<url-pattern>/Admin_SchoolAdminManage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthTest</servlet-name>
		<url-pattern>/AuthTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AndroidClient_StudentLogiCheck</servlet-name>
		<url-pattern>/AndroidClient_StudentLogiCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AndroidClient_GetUpdateSchoolMsg</servlet-name>
		<url-pattern>/AndroidClient_GetUpdateSchoolMsg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReLoginStudent</servlet-name>
		<url-pattern>/servlet/ReLoginStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StuUserLoginServlet</servlet-name>
		<url-pattern>/servlet/StuUserLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserEntityJsonByUserName</servlet-name>
		<url-pattern>/servlet/GetUserEntityJsonByUserName</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>School_MsgResend</servlet-name>
		<url-pattern>/School_MsgResend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>School_SendedMsgQuery</servlet-name>
		<url-pattern>/School_SendedMsgQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>School_ViewMsgDetail</servlet-name>
		<url-pattern>/School_ViewMsgDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ViewSchoolMsgDetail</servlet-name>
		<url-pattern>/Admin_ViewSchoolMsgDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ViewSchoolMsgQuery</servlet-name>
		<url-pattern>/Admin_ViewSchoolMsgQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AndroidClient_UpdateSchoolMsgReceived</servlet-name>
		<url-pattern>/AndroidClient_UpdateSchoolMsgReceived</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_StatisticsServlet</servlet-name>
		<url-pattern>/Admin_StatisticsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_StudentManageQuery</servlet-name>
		<url-pattern>/Admin_StudentManageQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnsureReceiveMessage</servlet-name>
		<url-pattern>/servlet/EnsureReceiveMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_DeleteStudent</servlet-name>
		<url-pattern>/Admin_DeleteStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_DeleteSchoolAdmin</servlet-name>
		<url-pattern>/Admin_DeleteSchoolAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_SchoolAdminManageQuery</servlet-name>
		<url-pattern>/Admin_SchoolAdminManageQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Client_getOneMessageContext</servlet-name>
		<url-pattern>/servlet/Client_getOneMessageContext</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ModifySchoolAdminInfoHref</servlet-name>
		<url-pattern>/Admin_ModifySchoolAdminInfoHref</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ModifyStuInfo</servlet-name>
		<url-pattern>/Admin_ModifyStuInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ModifyStuInfoHref</servlet-name>
		<url-pattern>/Admin_ModifyStuInfoHref</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Student_UpdateStuas</servlet-name>
		<url-pattern>/servlet/Student_UpdateStuas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_getDepartmentBySchool</servlet-name>
		<url-pattern>/Admin_getDepartmentBySchool</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_getMajorByDepartment</servlet-name>
		<url-pattern>/Admin_getMajorByDepartment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditPsw</servlet-name>
		<url-pattern>/servlet/EditPsw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_CacheStudentSchool</servlet-name>
		<url-pattern>/Admin_CacheStudentSchool</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_NewNewsServlet</servlet-name>
		<url-pattern>/Admin_NewNewsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AndroidClient_GetUpdateNews</servlet-name>
		<url-pattern>/AndroidClient_GetUpdateNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_NewZdezMsgHref</servlet-name>
		<url-pattern>/Admin_NewZdezMsgHref</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_NewZdezMsg</servlet-name>
		<url-pattern>/Admin_NewZdezMsg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_getSchoolSysBySchool</servlet-name>
		<url-pattern>/Admin_getSchoolSysBySchool</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_getMajorListBySelectedDepartments</servlet-name>
		<url-pattern>/Admin_getMajorListBySelectedDepartments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AndroidClient_UpdateNewsReceived</servlet-name>
		<url-pattern>/AndroidClient_UpdateNewsReceived</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_NewNewsHref</servlet-name>
		<url-pattern>/Admin_NewNewsHref</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ModifySchoolAdminInfo</servlet-name>
		<url-pattern>/Admin_ModifySchoolAdminInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AndroidClient_GetUpdateZdezMsg</servlet-name>
		<url-pattern>/AndroidClient_GetUpdateZdezMsg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AndroidClient_UpdateZdezMsgReceived</servlet-name>
		<url-pattern>/AndroidClient_UpdateZdezMsgReceived</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ViewNews</servlet-name>
		<url-pattern>/Admin_ViewNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ViewZdezMsg</servlet-name>
		<url-pattern>/Admin_ViewZdezMsg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ViewNewsQuery</servlet-name>
		<url-pattern>/Admin_ViewNewsQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ViewNewsDetail</servlet-name>
		<url-pattern>/Admin_ViewNewsDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_NewsResend</servlet-name>
		<url-pattern>/Admin_NewsResend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AndroidClient_CheckAPKUpdate</servlet-name>
		<url-pattern>/AndroidClient_CheckAPKUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ViewZdezMsgQuery</servlet-name>
		<url-pattern>/Admin_ViewZdezMsgQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ViewZdezMsgDetail</servlet-name>
		<url-pattern>/Admin_ViewZdezMsgDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_ZdezMsgResend</servlet-name>
		<url-pattern>/Admin_ZdezMsgResend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_NewStudentHref</servlet-name>
		<url-pattern>/Admin_NewStudentHref</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_NewSchoolAdminHref</servlet-name>
		<url-pattern>/Admin_NewSchoolAdminHref</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_NewStudent</servlet-name>
		<url-pattern>/Admin_NewStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_CheckIfStuUsernameExists</servlet-name>
		<url-pattern>/Admin_CheckIfStuUsernameExists</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_NewSchoolAdmin</servlet-name>
		<url-pattern>/Admin_NewSchoolAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_NewAdmin</servlet-name>
		<url-pattern>/Admin_NewAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin_AutoRun</servlet-name>
		<url-pattern>/Admin_AutoRun</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AndroidClient_ModifyPsw</servlet-name>
		<url-pattern>/AndroidClient_ModifyPsw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AndroidClient_CrashsReport</servlet-name>
		<url-pattern>/AndroidClient_CrashsReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DBSyncServlet</servlet-name>
		<url-pattern>/DBSyncServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin_StatisticsDetails</servlet-name>
    <url-pattern>/Admin_StatisticsDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZdezMsgSync</servlet-name>
    <url-pattern>/ZdezMsgSync</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolMsgSync</servlet-name>
    <url-pattern>/SchoolMsgSync</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin_CacheSchoolAdminInfo</servlet-name>
    <url-pattern>/Admin_CacheSchoolAdminInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin_CacheStudentInfo</servlet-name>
    <url-pattern>/Admin_CacheStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin_ReGenerateHtml</servlet-name>
    <url-pattern>/Admin_ReGenerateHtml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IosClient_StudentLoginCheck</servlet-name>
    <url-pattern>/IosClient_StudentLoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ios_Client_NoNotificationAnyMore</servlet-name>
    <url-pattern>/Ios_Client_NoNotificationAnyMore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IosClient_ModifyBadge</servlet-name>
    <url-pattern>/IosClient_ModifyBadge</url-pattern>
  </servlet-mapping>
  
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>token</servlet-name>
	</servlet>
  <servlet>
    <servlet-name>IosClient_ModifyBadge</servlet-name>
    <servlet-class>cn.com.zdez.servlet.IosClient_ModifyBadge</servlet-class>
  </servlet>


</web-app>
